{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Orange Forest blog</title>
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <header>
    <div class="page-header">
        <div class="header-logo">
            <a href="/"><img src="{% static 'css/images/KumiHashimot.png' %}" alt="Kumi Hashimot" width="282" height="42"></a>
        </div>
   <!--     <div class="header-menu">
            <a href="/" class="padding-right no-underline">about</a>
            <a href="/" class="padding-right no-underline">work</a>
            <a href="/" class="padding-right no-underline">contact</a>
        </div> -->
        <div class="header-sns">
            <a href="https://twitter.com/CooMeCohHash" target="_blank" class="padding-right"><img src={% static 'css/images/Twitter_Logo_WhiteOnBlue.png' %} width="30" height="30"></a>
            <a href="https://www.instagram.com/kumikohashimot/" target="_blank" class="padding-right"><img src={% static 'css/images/Instagram_IG_Glyph_Fill.png' %} width="30" height="30"></a>
        </div>
    </div>
    </header>
 
<div class="hi-iam-kumi">
        <img src="{% static 'css/images/duck.png' %}" width="75" height="75"></img>
        <h1 class="page-title">Hi! I am Kumi.</h1>
	<p class="iam-kumi-desc">Here are my digital works.</p>
</div>

<div class="post-list">
<!--    <div class="header-menu"> -->
        {% block content %}
        {% endblock %}
<!--    </div> -->
</div>
</body>
</html>
