.flexbox {
  display: -webkit-box;   /* Chrome 4-20, Firefox 2-21, Safari 3.1-6.0 */
  display: -webkit-flex;  /* Chrome 21-27 */
  display: -moz-box;      /* Firefox 2-21 */
  display: -ms-flexbox;   /* IE9 */
  display: flex;
}
.inline-flexbox {
  display: -webkit-inline-box;   /* Chrome 4-20, Safari 3.1-6.0 */
  display: -webkit-inline-flex;  /* Chrome 21-27 */
  display: -moz-inline-box;      /* Firefox 2-21 */
  display: -ms-inline-flexbox;   /* IE9 */
  display: inline-flex;
}

body {
    color: #663333;
	padding-left: 15px;
	font-family: sans-serif,YuGothic;
	background-color: #f3f0ed;
}

.page-header {
    background-color:#ff9999;
    width: 100%;
    display: flex;
    display: -ms-flexbox; /*IE10*/
    flex-wrap: wrap;
    -ms-flex-wrap: wrap; /*IE10*/
    padding-top: 20px;
    padding-left: 10px;
    align-items: center; 
}

.header-logo {
    text-align: left;
    flex-grow: 3;
}

.header-menu {
    text-align: center;
    flex-grow: 6;
    font-size: 1.5em;
}
.no-underline{
    text-decoration: none;
    color: #663333;
}


.header-sns {
    text-align: right;
    flex-grow: 1;
}

.padding-right {
    padding-right: 20px;
}

@media screen and (max-width: 800px){
    .page-header > div{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .padding-right{
        padding-right: 10px;
    }
}

.hi-iam-kumi {
    padding: 40px 40px 40px 40px;
	text-align:center;
}

.iam-kumi-desc {
    margin-top: -20px;
}

.post-list {
    width: 100%;
    display: flex;
    display: -ms-flexbox; /*IE10*/
    flex-wrap: wrap;
    -ms-flex-wrap: wrap; /*IE10*/
    margin-top: 20px;
    margin-right:auto;
    margin-left:auto;
    align-items: baseline;
}

@media screen and (max-width: 996px){
    .post-list > div{
        width: 100%;
    }
}

.img-postlist{
    object-fit: cover;
}

.post-item {
    width:30%;
    text-align: center;
    flex-grow: 1;
    background-color: white;
    margin: 10px;
    overflow-wrap : break-word;
}

h1 {
    color: #663333;
    font-size: 2rem;
    letter-spacing: -1px;

}

p {
    overflow:hidden;
}

.word-break {
        word-break: break-all;
}

/*

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
*/

